<!DOCTYPE html>
<html lang="en">
<%- include('./comp/head.ejs') %>

  <body>

    <section class="tabs">
      <menu role="tablist" aria-label="Tabs Template">
        <button role="tab" aria-controls="tab-A" aria-selected="true">Tab A</button>
        <button role="tab" aria-controls="tab-B">Tab B</button>
        <button role="tab" aria-controls="tab-C">Tab C</button>
        <button role="tab" aria-controls="tab-D" disabled>Tab D</button>
      </menu>
      <article role="tabpanel" id="tab-A">

        <div class="field-row">
          <label for="text26">Occupation</label>
          <input id="text26" type="text" />
        </div>
        <div class="field-row">
          <label for="text26">Occupation</label>
          <input id="text26" type="text" aria-describedby="balloon-password" />
          <div role="tooltip" id="balloon-password" hidden>Press Backspace to dismiss</div>
        </div>
        <div class="field-row">
          <label for="text26">Occupation</label>
          <input id="text26" type="text" />
        </div>
        <div class="field-row">
          <label for="text26">Occupation</label>
          <input id="text26" type="text" />
        </div>
        <div class="field-row">
          <label for="text26">Occupation</label>
          <input id="text26" type="text" />
        </div>
        <div class="field-row">
          <label for="text26">Occupation</label>
          <input id="text26" type="text" />
        </div>
      </article>


      <article role="tabpanel" id="tab-B" hidden>
        <button onclick="automateAttendance(this , event)">Generate Attendance</button>

        <br><br>

        <button onclick="openEmpReg(this , event)">Register Employee</button>
      </article>


      <article role="tabpanel" id="tab-C" hidden>Tab C is active</article>


      <article role="tabpanel" id="tab-D" hidden>Tab D is inactive</article>
    </section>


    <%- include('./comp/script.ejs') %>
      <script>

        $(document).ready(function () {
          // alert("hello");
        });

        function automateAttendance() {
          electron.ipcRenderer.send('open-window', { pageUrl: "/pages/attendance.ejs", title: "Employee", width: 500, height: 100 })
        }
        function openEmpReg() {
          electron.ipcRenderer.send('open-window', { pageUrl: "/pages/empReg.ejs", title: "Employee Registration", width: 800, height: 600 })
        }

      </script>
  </body>

</html>